header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    font-weight: bold;
    color: #FA7D19;
}

h1 {
    color: #4DB6AC;
    font-size: 2rem;
    font-weight: 700;
}